# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual env
.venv/

# Testing & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checker / linters
.mypy_cache/
.ruff_cache/

# Build artifacts
dist/
build/

# IDE
.idea/

# OS / misc
.DS_Store

# Secrets
.env
.env.*
